.App {
  min-width: 320px;
  min-height: 720px;
  background-color: #f8f8f9;
  overflow: auto;
}

@media (min-width: 321px) {
  .App {
    min-width: 768px;
    max-height: 1024px;
  }
}

@media (min-width: 769px) {
  .App {
    min-width: 1024px;
    max-height: 1024px;
  }
}
